.cv {
  width: 90%;
  max-width: 800px;
  margin: 45px auto;
  background: #f3f3f3;

  .thumbnail {
    float: left;
    margin: 10px;
  }

  .thumbnail figure img  {
    width: 100px;
  }

  figure {
    width: 100px;
    height: 100px;
  }

  .header {
    background: #ededed;
    .name { float: left; }
    .contact {
      float: right;
      margin: 30px;
      a {
        color: black;
        text-decoration: none;
      }
    }
  }

  .header:after, section:after {
    content: "";
    display: table;
    clear: both;
  }

  .content {
    section {
      padding: 0 20px;
      .section-title {
        float: left;
        width: 25%;
      }
      .section-content {
        float: right;
        width: 70%;
      }
    }

    .skills {
      column-count: 3;
      padding: 0;
    }

  }
}

body {
  background: #181818;
}

section:last-child {
    padding: 20px 0 10px;
}

section {
    border-top: 1px solid #dedede;
    padding: 20px 0 0;
}