html {
  overflow: hidden;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  overflow: auto;
  margin: 0;
}

#root {
  height: 100%;
}

.text-muted {
  opacity: 0.5;
}

.list-unstyled {
  list-style-type: none;
}

@import './navbar.scss';
@import './footer.scss';
@import './cv.scss';
@import './home.scss';